html
  head
    style(type='text/css').
      body, html {
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
      }
      pre {
        margin: 0;
        font-family: monaco, "Courier New", Courier, monospace;
        line-height: 1.3;
        background: black;
        font-size: 10px;
        color: white;
      }
  body
    pre#console Loading...
    script(src='/scripts/tool.js')
    //- inject:js
    //- endinject
